.form {
 max-width: 500px;
 margin: .5em auto;
}

.formGroup {
 margin: .5em auto;
}

.title {
	text-align: center;
}

.formGroup > * {
	display: block;
}

.buttons {
	display: flex;
	justify-content: center;
}

.entryPoint {
	max-width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .5em auto;
}