.noteHeader {
	display: flex;
	align-items: center;
	margin-bottom: .5em;
	flex-wrap: wrap;
}

.noteActions {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.title {
	flex-grow: 2;
}

.note {
	margin: .5em;
}